# editorconfig.org
# This config is for client code.
# It will be combined with some defaults at the root which are
# common to both client and server.
root = false

# Frontend can run on Linux or Windows, thus we default to LF.
[*]
indent_size = 2
end_of_line = lf
