# editorconfig.org
root = true

# Frontend can run on Linux or Windows, thus we default to LF.
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Windows scripts should always use CRLF.
[*.{bat,cmd,ps1}]
end_of_line = crlf

# The backend is developed on Windows and deployed to Windows Server.
[server/*]
end_of_line = crlf

# Four space indent is standard for Visual Studio project configs.
[{App.config,packages.config,Web.config,Web.Debug.config,Web.Release.config}]
indent_size = 4

# Four space indent is standard for C# too.
[*.{cs,aspx,asax,cshtml}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
