# If Git decides that the content is text, the line endings will be
# normalized to LF on checkin. This keeps line endings consistent
# in the repo no matter what happens in the working directory.
* text=auto

# Make the working directory consistent with the repo; use LF for both.
# http://stackoverflow.com/a/34598449/23566
* eol=lf

# Windows scripts should have CRLF on checkout.
*.bat eol=crlf
*.cmd eol=crlf
*.ps1 eol=crlf

# The backend is developed on Windows and deployed to Windows Server.
server/** eol=crlf

# These files are binary and should not be normalized.
# We must set them explicitly since eol=lf "enables end-of-line normalization
# without any content checks".
*.eot -text
*.gif -text
*.gz -text
*.ico -text
*.jpeg -text
*.jpg -text
*.otf -text
*.png -text
*.svg -text
*.ttf -text
*.woff -text
*.woff2 -text
*.zip -text
*.sqlite -text
*.mdf -text
*.ldf -text
