<div class="welcome-wrapper">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Welcome to {{ title }}!</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      This project demonstrates one way to build your frontend as an Angular 6 single page application (SPA) and host it within
      an ASP.NET MVC "wrapper" app.
    </mat-card-content>
    <mat-card-actions align="end">
      <!--The /Help route is reachable when this app is embedded in _Layout.cshtml-->
      <a mat-raised-button href="/Help" color="primary">
        Learn Our API &raquo;
      </a>
    </mat-card-actions>
  </mat-card>
</div>
