<div class="jumbotron">
    <h1>nAngular</h1>
    <p class="lead">
        This project demonstrates one way to build your frontend as an Angular 6
        single page application (SPA) and host it within an ASP.NET MVC "wrapper" app.
    </p>
    <p><a href="/Help" class="btn btn-primary btn-lg">Learn Our API &raquo;</a></p>
</div>
